{% extends 'base.html.twig' %}

{% block title %}New Food{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">Criar Anúncio</div>
                    <div class="card-body">
                        {{ include('food_item/_form.html.twig') }}
                        <a href="{{ path('app_food_item_index') }}" class="btn btn-link">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
